<%- include('header') %>

<div class="result">
  <% if (error) {%>
  <%= error %>
  <% } else{ %>
  US$ <%= quantidade %> na cotação de
  <%= cotacao %> é igual a:
  R$ <%= conversao %>
  <% } %>
</div>

<%- include('footer') %>